@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

$bgColor: #000;
$txtColor: white;
$brandColor: #F9A21E;
body{
    background: $bgColor;
    //disabling the horizontal scroll 
    max-width: 100vw;
    overflow-x: hidden; 
}
.section{
    width: 100vw;
    height: 100vh;
}
.sec1{
    padding: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .txt{
        color: $txtColor;
        width: 40rem;
        font-family: 'Space Grotesk', sans-serif;
    }
    .img{
        img{
            width: 30rem;
           aspect-ratio: 16/9;
       }
    }
}